{% extends 'primero/plantilla.html' %}
{% block title%} Restaurante Silpanchos Originales {% endblock %}
{% block body %}
    <div class="mb-3">
      <label for="" class="form-label"></label>
      <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">

      <label for="" class="form-label"></label>
      <input type="password" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">

      <button type="submit" class="btn btn-primary">Ingresar</button>
      


    </div>

    

    {% endblock %}
