{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}  {% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'style.css'%}">
        <link rel="stylesheet" href="{% static 'tabla.css'%}">
    </head>
    <body>
        <header>
            <div class="nav-content">
                <div class="container">
                        <div class="nav flex">
                            <a href="{% url 'login' %}">
                                <div class="logo">Restaurante Silpanchos</div>
                            </a>
                               <ul class="flex">
                                    <li><a href="{% url 'cliente' %}">Registro de Clientes</a></li>
                                    <li><a href="{% url 'pedidos' %}">Pedidos</a></li>
                                    <li><a href="{% url 'productos' %}">Productos</a></li>
                                    <li><a href="{% url 'facturacion' %}">Facturacion</a></li>
                                    <li><a href="#">Libro de egresos</a></li>
                                </ul>
                        </div>
                </div>     
            </div>    
        </header>
        {% block body%}

        {% endblock%}
    </body>
</html>

