{% extends 'vista/administrador.html' %}

{% block title%} Clientes {% endblock %}

{% block body %}
    <div class="login-page">
        <div class="form">
          
          <form action="#" class="login-form">
              <h1 style="color: white; text-shadow: 2px 2px 2px black;">Registro de Clientes</h1>
            <input type="text" placeholder="Nombre"/>
            <input type="text" placeholder="Nit"/>
            <input type="text" placeholder="Orden"/>
            <input type="number" placeholder="Cantidad"/>
            <button>Registrar</button>
            
          </form>
        </div>
      </div>
      <table>
        <thead>
          <tr>
            <th> ID </th>
            <th>Nombre</th>
            <th>NIT</th>
            <th>Orden</th>
            <th>Cantidad</th>
            <th>Acciones</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td> 1 </td>
            <td>Beimar</td>
            <td> 123456789 </td>
            <td> Trancapecho </td>
            <td> 5 </td>
            <td>
              <button><a href="#">Editar</a></button>
              |
              <button><a href="#">Eliminar</a></button>
            </td>
            
          </tr>
        
        </tbody>
        <!--<tfoot>
          <tr>
            <td colspan="2"> Totales</td>
            <td class="PrecioTotal"> $23 </td>
            <td class="CantidadTotal"> 5 </td>
          </tr>
        </tfoot>-->
      </table>
{% endblock %}