{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="nav-content">
            <div class="container">
                    <div class="nav flex">
                        <a href="index.html">
                            <div class="logo">Restaurante Silpanchos</div>
                        </a>
                    </div>
            </div>     
        </div>    
    </header>
    <div class="login-page">
        <div class="form">
          
          <form action="{% url 'admi' %}" class="login-form" method="post">
              {% csrf-token %}
              <h1>Administrador</h1>
            <input type="text" placeholder="username" id="value"/>
            <input type="password" placeholder="password" id="value2"/>
            <button>login</button>
            
          </form>
        </div>
      </div>

      <div class="menu">
          <center><h1>Menu del Dia</h1></center>

      </div>
</body>
</html>