{% extends 'vista/administrador.html' %}
{% block title%} Pedidos {% endblock %}
{%block body%}
    <div class="login-page">
        <div class="form">
          
          <form action="#" class="login-form">
              <h1 style="color: white; text-shadow: 2px 2px 2px black;">Rregistro de Pedido</h1>
            <input type="text" placeholder="Id de Cliente"/>
            <input type="text" placeholder="Id de Producto"/>
            <input type="number" placeholder="Cantidad"/>
            <input type="datetime-local" placeholder="fecha - Hora"/>
            <input type="text" placeholder="Estado de Pedido"/>
            <button>Registrar</button>
            
          </form>
        </div>
      </div>

      <table>
        <thead>
          <tr>
            <th> ID </th>
            <th>Cliente</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Fecha-Hora</th>
            <th>Estado de Pedido</th>
            <th>Modificar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            
          </tr>
        
        </tbody>
        <!--<tfoot>
          <tr>
            <td colspan="2"> Totales</td>
            <td class="PrecioTotal"> $23 </td>
            <td class="CantidadTotal"> 5 </td>
          </tr>
        </tfoot>-->
      </table>
      <script src="../validacion.js"></script>
{%endblock%}