{% extends 'vista/administrador.html' %}
{% block title%} Productos {% endblock %}
{%block body%}
    <div class="login-page">
        <div class="form">
          
          <form action="#" class="login-form">
              <h1 style="color: white; text-shadow: 2px 2px 2px black;">Rregistro de Producto</h1>
            <input type="text" placeholder="Nombre"/>
            <input type="text" placeholder="Precio"/>
            <input type="file" placeholder="Foto"/>
            <input type="text" placeholder="Administrador"/>
            
            <button>Registrar</button>
            
          </form>
        </div>
      </div>

      <table>
        <thead>
          <tr>
            <th> ID </th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Foto</th>
            <th>Administrador</th>
            <th>Modificar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            
          </tr>
        
        </tbody>
        <!--<tfoot>
          <tr>
            <td colspan="2"> Totales</td>
            <td class="PrecioTotal"> $23 </td>
            <td class="CantidadTotal"> 5 </td>
          </tr>
        </tfoot>-->
      </table>
      <script src="../validacion.js"></script>
{%endblock%}