/*@import url(https://fonts.googleapis.com/css?family=Roboto:300);*/
*{
    margin-top: 0%;
    margin: 0%;
}
h1{
  color: white;
  text-shadow: black 2px 2px 2px;
}
.menu{
  position: fixed;
  top: 12%;
  left: 28%;
  width: 71.5%;
  height: 80%;
  background-color: #00000056;
  border-radius: 5px/5px;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  position: absolute;
  top: -4%;
  left: 1%;
}
.form {
  position: relative;
  z-index: 1;
  background: #0000008e;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 8px 8px 8px rgb(54, 6, 6);
  border-radius: 5px;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #e3872d;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  text-shadow: 1px 1px 1px black;
  border-radius: 4px;
}
.form button:hover,.form button:active,.form button:focus {
  background: #c4c42d;
  color: black;
  text-shadow: 2px 2px 2px black;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
background-image: url(silpancho.jpg);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}



a {    
    text-decoration: none;
    color: #fff;
}
ul {
    list-style: none;
}
li {
    padding: .75rem;
}
.container {   
    max-width: 1200px;   
    margin: auto;
    padding: 0 20px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-bar {    
    height: 40px; 
    padding: 10px 0;
    font-size: 14px; 
    background: #fff;       
}
.top-bar i {
    font-size: 20px;
    margin-right: 10px;
    color: #333;
}
.nav-content {
    background-color:#333;
    padding: 10px 0 15px 0;
}
.logo {
    font-family: 'Ranchers', cursive;
    font-size: 34px;
    color: #e3872d;
    letter-spacing: 6px;    
}
.logo:hover {
    color: #fff;
    transition: .5s;
}
.nav li a {    
    letter-spacing: 1px;
}
.nav li a:hover {
    border-bottom: 3px solid #e3872d;
    padding-bottom: 5px;
    transition: .5s;
}
.nav li:last-child {
    padding-right: 0;
}
@media (max-width: 768px) {
    .container .nav {
        flex-direction: column;
    }
    .nav .logo {
        margin-bottom: 10px;
    }
    .container .nav li {
        padding: .25rem .45rem;
    }    
}
@media (max-width: 500px) {
    .top-bar {    
        height: 70px;         
    }    
    .top-bar .container {
        flex-direction: column;
    }    
    .top-bar .container div:first-child {
        margin-bottom: 4px;
    }
}

 