*{
  margin-top: 0%;
  margin: 0%;
}
body {
    background-color: #CCBBEE;
  }
  
  table {
    background: white;
    width: 50%;
    margin: 0 auto;
    margin-top: 2%;
    margin-left: 30%;
    border-collapse: collapse;
    text-align: center;
    border-radius: 4px 4px 4px;
  }
  
  th {
    background-color: #333;
    height: 35px;
    border-bottom: 7px solid #e3872d;
    color: rgb(255, 255, 255);
    text-shadow: black 2px;
  }
  
  td {
    color: rgba(100, 100, 100, 60);
    height: 30px;
    border: 0.5px solid rgba(240, 240, 240, 10);
  }
  
  tfoot {
    font-weight: bold;
  }
  
  /*Pseudo-clases*/
  th:hover {
    background-color: rgba(20, 20, 20, 90);
  }
  
  tr:hover {
    background-color: rgba(15, 25, 25, 90);
  }
  
  /* Estililos de clases*/
  .PrecioTotal:hover,
  .CantidadTotal:hover {
    color: rgb(230, 50, 50);
  }
  
  .Cabecera {
    background-color: rgba(5, 5, 100, 0.99);
    border-radius: 4px;
    height: 30px;
    padding: 2em;
    margin: 0 25%;
    text-align: center;
    color: white;
  }
  
  a{
    text-decoration: none;
    color: white;
    font-size: 14pt;
  }
  
  footer {
    margin-top: 40px;
    text-align: center;
  }